<!DOCTYPE html>
<html lang="en">

<head>
    <!--Loads the path to your static files-->
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../static/assets/img/favicon.ico">

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- LINEARICONS -->
    <link rel="stylesheet" href="../../static/assets/fonts/linearicons/style.css">
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link href="../../static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/assets/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    <!---lightboard template-->
    <div class="wrapper">
        {% if user.is_authenticated %}
        <script>
            console.log("----")
            console.log('{{user.profile.organisation_name}}')
        </script>
            <!--Side Nav Bar--->
        <div class="sidebar" data-image="../../static/assets/img/sidebar-5.jpg" data-color="blue">
                <div class="sidebar-wrapper">
                    <div class="logo-nav">
                        <a href="{% url 'home' %}" class="simple-text">
                            <img src="../../static/assets/img/logo_3.png" alt="logo" class="imagelogo-base">
                        </a>
                    </div>

                    <ul class="nav navbar-nav">

                        <li class="dashboard-item">
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                <i class="nc-icon nc-grid-45"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        {% if user.is_staff %}
                        <li class="register-employee-item">
                            <a class="nav-link" href="{% url 'register_employee' %}">
                                <i class="nc-icon nc-notes"></i>
                                <p>Register Employee</p>
                            </a>
                        </li>
                        {% endif %}

                        <li class="upload-file-item">
                            <a class="nav-link" href="{% url 'upload_file' %}">
                                <i class="nc-icon nc-simple-add"></i>
                                <p>Upload File</p>
                            </a>
                        </li>

                        <li class="user-profile-item">
                            <a class="nav-link" href="{% url 'update_profile' request.user.pk %}">
                                <i class="nc-icon nc-circle-09"></i>
                                <p>User Profile</p>
                            </a>
                        </li>

                        <!-- {% if request.user.profile.organisation_name != "CIVIS" %}
                        <li class="category-list-item">
                            <a class="nav-link" href="{% url 'category_list' request.user %}">
                                <i class="nc-icon nc-bullet-list-67"></i>
                                <p>Category List</p>
                            </a>
                        </li>
                        {% endif %} -->

                        <li class="nav-item active active-pro">
                            <a class="nav-link active" href="{% url 'logout' %}">
                                <i class="nc-icon nc-button-power"></i>
                                <p>Log out</p>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="main-panel">
            {% block content %}
            {% endblock %}
        </div>
        {% endif %}
    </div>
</body>

</html>