{% extends 'Venter/index.html' %}
{% block content %}
<link rel="stylesheet" href="../../static/assets/css/password_reset_form.css">

<div class="data">Forgot password?</div>
<br>    
     
  <form method="post">
    {% csrf_token %}
    {{form.email}}
    <button type="submit" class="btn submit_btn">Submit</button>
    <br>
    {% for field in form %}
      {% if field.errors %}
        <script>
          alert("Enter valid email address");
        </script>  
      {% endif %}  
    {% endfor %}
  </form>


{% endblock %}