{% extends 'Venter/index.html' %}
 
{% block content %}

<style>
  body {
    background-color: #b3cefa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  input[name="new_password1"] {
    border-radius: 2px;
    height: 25px;
    width: 60%;
    background-color: transparent;
  }
  input[name="new_password2"] {
    border-radius: 2px;
    height: 25px;
    width: 60%;
    background-color: transparent;
  }
  .message {
      color: black;
      padding: 10px;
      font-size: 20px;
  }
  /* .inner-wrapper {
      margin: auto;
      background-color: white;
  }  */
  .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
  }

  .submit_btn{
    background-color: transparent;
    color: gray;
    border: 2px solid gray;
    height: 40px;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
  }

  .submit_btn:hover {
  background-color: gray;
  color: white;
}

.field-text{
  font-family: 'Times New Roman', Times, serif;
}

.main_container{
  width: 550px;
  background-color: white;
  height: auto;
  margin: 0 auto;
  position: relative;
  box-shadow: 5px 10px #778eb3;
  }
  

</style>  
 
<div class="main_container">
  <div class="message">
    {% if validlink %}
      <label class="title">Change password</label><br><hr><br>
      <form method="post">
        {% csrf_token %}
        <label class="field-text">New Password </label><br>
        {{ form.new_password1 }}
        <br><br>
        <label class="field-text">Confirm new Password </label><br>
        {{ form.new_password2 }}
        <br><br><br>
        <button type="submit" class="btn submit_btn">Submit</button>
      </form>
    {% else %}
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    {% endif %}
  </div>
  {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <br>
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
</div>
{% endblock %}
