{% extends 'Venter/index.html' %}
{% block content %}
<link rel="stylesheet" href="../../static/assets/css/password_reset_done.css">
<div class="inner-wrapper">
  <div class="message">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
    <br>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
    <br>
    <img src="../../static/assets/img/email1.png" style="float:right;width: 28%;">
  </div>
</div>
{% endblock %} 