{% extends 'Venter/base.html' %}
{% block title %}Prediction CSV{% endblock %}
{% block content %}
    <script>
        // var con;
        // var sim;
        // function progressBarSim(al) {
        //     // Setting up the ProgressBar
        //     var bar = document.getElementById('progressBar');
        //     var status = document.getElementById('status');
        //     status.innerHTML = al + "%";
        //     bar.value = al;
        //     if (al == 100) {
        //         bar.value = 100;
        //         status.innerHTML = "100%";
        //         clearTimeout(sim);
        //         document.getElementById('finalMessage').innerHTML = "Processing complete";
        //     }
        // }

        // function showLoading() {
        //     $("#progress").attr('style', 'display:block; padding-top: 10px;');
        // }
        // function hideSmallLoader() {
        //     $("#progress").attr('style', 'display:none');
        // }

        function hideLoading() {
            $("#tableDiv").attr('style', 'display:block');
            // $("#preload").attr('style', 'display:none');
        }

        function colorcode(num, index) {
            if (num > 90) {
                $("#" + index).attr("style", "background-color: #00a33b");
            } else if (num > 80) {
                $("#" + index).attr("style", "background-color: #06d636");
            } else if (num > 70) {
                $("#" + index).attr("style", "background-color: #4ee802");
            } else if (num > 60) {
                $("#" + index).attr("style", "background-color: #c3ff00");
            } else if (num > 50) {
                $("#" + index).attr("style", "background-color: #f6ff00");
            } else if (num > 40) {
                $("#" + index).attr("style", "background-color: #ffe100");
            } else if (num > 30) {
                $("#" + index).attr("style", "background-color: #ffbb00");
            } else if (num > 20) {
                $("#" + index).attr("style", "background-color: #ff8c00");
            } else if (num > 10) {
                $("#" + index).attr("style", "background-color: #ff5900");
            } else {
                $("#" + index).attr("style", "background-color: #af0101");
            }
        }
        $(document).ready(function () {
            table = $('#outerTable').DataTable({
                order: [[0, "asc"]],
                "lengthMenu": [[10, 15, 50, 100], [10, 15, 50, 100]],
                "oLanguage": {
                    "sSearch":"<span>Search:</span>" //search
                }
            });
        $(document).ready(function () {
            $('.dataTables_filter input[type="search"]').
                attr('placeholder','').
                css({'width':'150px','display':'inline-block','background':'#cccccc',});
        });
            hideLoading()
        });
    </script>
    
<div class="background">
    <div align="center" id="tableDiv" style="display: none;">
        <div align="center" style=" width : 98%">
            {% csrf_token %}
            <br/>
            <table id="outerTable" class="table table-striped table-bordered" style="background: #cccccc;">
                <thead>
                <th>Highest Confidence</th>
                <th>Predicted Categories</th>
                <th>Problem Description</th>
                </thead>
                <tbody>
                {% for dict in dict_list %}
                    <tr>
                        <td style="width: 15%">
                            {{ dict.category.0.1 }}%
                        </td>
                        <form method="POST">{% csrf_token %}
                            <td id="td{{ dict.index }}" style="width: 25%">
                                <select id="select_category{{ dict.index }}" name="select{{ dict.index }}"
                                        style="width: auto" multiple>
                                    {% for each in dict.category %}
                                        {% if each == dict.category.0 %}
                                            <option selected value="{{ each.0 }}">{{ each.0 }} ({{ each.1 }}%)</option>
                                        {% else %}
                                            <option value="{{ each.0 }}">{{ each.0 }} ({{ each.1 }}%)</option>
                                        {% endif %}
                                    {% endfor %}
                                </select><br><br>
                                <input id="other_category{{ dict.index }}" size="50" placeholder='Type Category'>
                                <script>
                                    $(function () {
                                        var availableTags = [
                                            {% for list in category_list %}
                                                " {{ list }}",
                                            {% endfor %}
                                        ]

                                        function split(val) {
                                            return val.split(/,\s*/);
                                        }

                                        function extractLast(term) {
                                            return split(term).pop();
                                        }

                                        $("#other_category{{ dict.index }}")
                                        // don't navigate away from the field on tab when selecting an item
                                            .on("keydown", function (event) {
                                                if (event.keyCode === $.ui.keyCode.TAB &&
                                                    $(this).autocomplete("instance").menu.active) {
                                                    event.preventDefault();
                                                }
                                            })
                                            .autocomplete({
                                                minLength: 0,
                                                source: function (request, response) {
                                                    // delegate back to autocomplete, but extract the last term
                                                    response($.ui.autocomplete.filter(
                                                        availableTags, extractLast(request.term)));
                                                },
                                                focus: function () {
                                                    // prevent value inserted on focus
                                                    return false;
                                                },
                                                select: function (event, ui) {
                                                    var terms = split(this.value);
                                                    // remove the current input
                                                    terms.pop();
                                                    // add the selected item
                                                    terms.push(ui.item.value);
                                                    // add placeholder to get the comma-and-space at the end
                                                    terms.push("");
                                                    this.value = terms.join(", ");
                                                    return false;
                                                }
                                            });
                                    });
                                    // The colorcode function takes the id and the percentage confidences as the parameter of the color code.
                                    colorcode({{ dict.category.0.1 }}, "td{{ dict.index }}");
                                </script>
                            </td>
                        </form>
                        <td style="width: 55%">{{ dict.problem_description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            </div>
            <style>
            .background{
                    background: #ffffff;
                    border-radius: 25px;
                }
            </style>
        </div>
    </div>
{% endblock %}
